*{
  transition: all 250ms ease-in-out;
}

:root {
  --main-color: #2e2f42;
  --hover: #404bbf;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-color);
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.container {
  width: 1440px;
  margin: 0 auto;
}

header {
  box-sizing: border-box;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  justify-content: space-around;
  width: 1440px;
  gap: 24px;
  border: 1px solid #E7E9FC;
}

.backdrop{
  position: fixed;
  inset: 0;
  background:rgba(46, 47, 66, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}

.modal{
  background: white;
  width: 450px;
  padding: 30px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.close{
  position: absolute;
  top: 15px;
  right: 15px;
  background:#eee;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.modal h2 {
  margin-top: 36px;
  margin-bottom: 20px;
  font-size: 18px;
}

label{
  margin-top: 14px;
  font-size: 14px;
  display: block;
}

.input-1,textarea{
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid  #ccc;
  padding: 10px 12px;
  margin-top: 4px;
  font-size: 14px;
}

.input-1:focus-within{
  border: 1px solid #4D5AE5;
}

textarea{
  height: 100px;
  resize: none;
}

.checkbox{
  margin-top: 14px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.send{
  width: 169px;
  background: #4d5ae5;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 6px;
  margin-top: 20px;
  font-size: 16px;
  cursor: pointer;
}

.span-1{
  color: #757575;
}


.nav-1 {
  display: flex;
  gap: 40px;
}

#studio{
color: #404BBF;
}

#studio::after{
  content: "";
  display: block;
  position: relative;
  top: 24px;
  background-color: #404BBF;
  height: 4px;
  border-radius: 2px;
}

h1 {
  margin: 0px auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
}

.logo {
  color: #4d5ae5;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.logo-2 {
  color: #2e2f42;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.logo-3 {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}

.nav {
  color: var(--main-color);
  text-decoration: none;
}

.h3{
  margin-bottom: 8px;
}

.nav:hover {
  color: var(--hover);
}

.active {
  text-decoration: underline;
  color: var(--hover);
}

.order-service {
  margin-top: 48px;
  width: 169px;
  height: 56px;
  color: #fff;
  background-color: #4d5ae5;
  cursor: pointer;
  border-radius: 4px;
  border: none;
}

.order-service:hover {
  background-color: #404bbf;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1440px;
  height: 600px;
  background-image:
  linear-gradient( rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7) ),
   url(../images/people-office\ 1.png);
  color: #fff;
}

.svg-1{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F4FD;
  border: 1px solid #8E8F99;
  border-radius: 4px;
  padding:24px 0;
}

.svg-2{
  width: 64px;
  height: 64px;
}

.svg-3{
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 24px;
  margin-bottom: 32px;
}

.svg-5{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 24px;
}

.svg-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #4D5AE5;
  border-radius: 50%;
}

.svg-container:hover{
  cursor:pointer;
  background-color: #404BBF;
}

.svg-4{
  width: 16px;
  height: 16px;
}

.section-2 {
  width: 1128px;
  margin: 0 auto;
}

.section-2 ul {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style-type: none;
}

.section-3 {
  background-color: #f4f4fd;
  width: 1440px;
}

.section-3 h2 {
  text-align: center;
  margin-bottom: 72px;
}

.section-3 ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 24px;
}

.section-3 ul li{
  background-color: #fff;
  text-align: center;
}

.section-3 ul li div{
  margin-top: 8px;
}

.section-4 {
  width: 1440px;
}

.section-4 h2 {
  text-align: center;
  margin-bottom: 72px;
}

.section-4 ul {
  display: flex;
  list-style-type: none;
  gap: 24px;
  justify-content: center;
  flex-wrap: wrap;
}

.section-4 ul li {
  border: 1px solid #E7E9FC;
  position: relative;
  overflow: hidden;
}

.overlay-1:hover .overlay-2{
  transform: translateY(0);
}

.overlay-1{
  position: relative;
  overflow: hidden;
}

.overlay-2{
  padding: 8px;
  background-color: #3f51b5;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

.div-1{
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

footer {
  display: flex;
  gap: 120px;
  background-color: #2e2f42;
  width: 1440px;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 156px;
}

.footer-p {
  color: #f4f4fd;
  width: 264px;
}

.footer{
  margin-bottom: 16px;
}
